/**
 * For more details on how to configure Wrangler, refer to:
 * https://developers.cloudflare.com/workers/wrangler/configuration/
 */
{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "tailscale-cloudflare",
	"compatibility_date": "2025-12-05",
	"main": "./dist/index.js",
	"observability": {
		"enabled": true
	},
	"triggers": {
		"crons": [
			"0 * * * *"
		]
	},
	"vars": {
		"CLOUDFLARE_ZONE_ID": "your-cloudflare-zone-id",
		"DOMAIN_FOR_LAN_ENDPOINT": "lan.example.com",
		"DOMAIN_FOR_TAILSCALE_ENDPOINT": "ts.example.com",
		"DOMAIN_FOR_WAN_ENDPOINT": "wan.example.com",
		"TAILSCALE_TAILNET": "your-tailscale-tailnet-identifier",
		"TAILSCALE_TAG_FILTER_REGEX": "^tag:dns",
		"TAILSCALE_TAG_PROXY_REGEX": "^tag:proxy",
		"LAN_CIDR_RANGES": "192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,100.64.0.0/10",
		"DNS_RECORD_OWNER_ID": "your-owner-id"
	},
	/**
	 * Smart Placement
	 * Docs: https://developers.cloudflare.com/workers/configuration/smart-placement/#smart-placement
	 */
	// "placement": { "mode": "smart" }
	/**
	 * Bindings
	 * Bindings allow your Worker to interact with resources on the Cloudflare Developer Platform, including
	 * databases, object storage, AI inference, real-time communication and more.
	 * https://developers.cloudflare.com/workers/runtime-apis/bindings/
	 */
	/**
	 * Environment Variables
	 * https://developers.cloudflare.com/workers/wrangler/configuration/#environment-variables
	 */
	// "vars": { "MY_VARIABLE": "production_value" }
	/**
	 * Note: Use secrets to store sensitive data.
	 * https://developers.cloudflare.com/workers/configuration/secrets/
	 */
	/**
	 * Static Assets
	 * https://developers.cloudflare.com/workers/static-assets/binding/
	 */
	// "assets": { "directory": "./public/", "binding": "ASSETS" }
	/**
	 * Service Bindings (communicate between multiple Workers)
	 * https://developers.cloudflare.com/workers/wrangler/configuration/#service-bindings
	 */
	// "services": [{ "binding": "MY_SERVICE", "service": "my-service" }]
}